:root {
    --violeta: hsl(263, 55%, 52%);
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --VeryDarkBlackishBlue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(0, 0%, 81%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: #e2eafc;
    font-size: 13px;
    display: flex;
    justify-content: center;  
}

.grid-container {
    margin: 0 auto;
    padding: 15px 0;
    display: grid; 
    grid-template-rows: 22% 13% 13% 18% 22%;
    grid-template-columns: 280px;
    grid-gap: 20px;
}

.grid-item {
    border-radius: 5px;
    color: #000;
    padding: 10px;
    background: #ffffff;
    -webkit-box-shadow: 2px 2px 7px -2px rgba(0,0,0,0.72);
    -moz-box-shadow: 2px 2px 7px -2px rgba(0,0,0,0.72);
    box-shadow: 2px 2px 7px -2px rgba(0,0,0,0.72);
}

.grid-item:first-child {
    background: var(--violeta);
}

.grid-item:nth-child(2) {
    background: var(--VeryDarkGrayishBlue);
} 

.grid-item:nth-child(3){
    order: 1;
}

.grid-item:nth-child(4), .grid-item:nth-child(3) {
    background: #f4f3ee;
}

.grid-item:nth-child(5) {
    background: var(--VeryDarkBlackishBlue);
}

.texto {
    padding: 5px;
}

.grid-item:first-child,
.grid-item:nth-child(2),
.grid-item:nth-child(5) {
    color:#ffffff;
}

.usuario {
    display: flex;
}

.usuario__nombre {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 92%;
    margin-top: 3px;
}

.usuario__imagen {
    width: 11%;
    height: 11%;
    padding-top: 2px;
    padding-left: 2px;
    border-radius: 30px;
}

.usuario__imagen img {
    max-width: 100%;
    border-radius: 30px;   
}

.transparente {
    font-size: 76%;
    color: var(--LightGray);
}

.texto__titular {
    font-weight: 600;
    font-size: 92%;
    color: #fff;
}

.dark-title {
    color: #000;
}

.comillas {
    position: relative;
    top: -10px;
    left: 60%;
    width: max-content;
}

.usuario-comillas {
     position: relative;
     z-index: 2;
     bottom: 100px; 
}